.screen {
    width: 640px;
    height: 480px;
    color: black;
    text-align: center;
    line-height: 400px;
  }

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 880px;
}

body{
  background-color: #454647;
}